{{#with data}}  
<div class="updates_card">
     <div class="user_image"></div>
     <div class="nickname_description">
           <div class="user_nickname">
                <p>@{{nickname}}</p>
           </div>

           <div class="user_description">
                <p>{{description}}</p>
           </div>
     </div>{{!-- <div class="nickname_description"> --}}
</div>{{!-- <div class="updates_card"> --}}
{{/with}}    